# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
# build
output
.gradle
build

# other
eclipse
run
libVulpes.txt
*.xcf

# minecraft
asm
blueprints
config
logs
mods
resourcepacks
saves
screenshots
crash-reports
changelog.html

